
.featured-products__title {
    font-family: 'Gothic A1';
    font-weight: 900;
    font-size: 26px;
    line-height: 36px;
    color: #656874;
    text-align: center;
    margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
    .featured-products__title {
        font-size: 42px;
        margin-bottom: 60px;
    }
}

.card-information {
    display: none;
}

.featured-products__item h3 a {
    font-family: 'Gothic A1';
    font-weight: 700;
    font-size: 22px;
    leading-trim: NONE;
    line-height: 42px;
    letter-spacing: 0%;
    text-align: center;
    color: #656874;
}

.featured-products__item button {
    background: #464B90;
    min-height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    width: auto;
    margin: auto;
    outline: none;
    min-width: auto;
    width: auto;
    margin: auto;
    border-radius: 40px;
    padding: 18px 81px;
}

.button:disabled, .button[aria-disabled=true], .button.disabled, .customer button:disabled, .customer button[aria-disabled=true], .customer button.disabled, .quantity__button.disabled {
    color: #fff;
}


.featured-products__item button span {
    font-family: 'Gothic A1';
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #fff;
}

.featured-products__list {
    display: flex;
    flex-direction: column;
    column-gap: 35px;
    row-gap: 50px;
}

@media screen and (min-width: 768px) {
    .featured-products__list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 40px;
        row-gap: 119px;
        max-width: 1080px;
        margin: auto;
    }
}

.featured-products__item, .featured-products__list .grid__item {
    width: 100%;
    max-width: none;
}

.featured-products slider-component.page-width {
    padding: 0;
    max-width: none;
}

.featured-products .card__information {

    padding-top: 29px;
    padding-bottom: 11px;
}


.featured-products .quick-add {
    margin-bottom: 50px;
}

.featured-products .button--secondary:after,
.featured-products .button--secondary:before,
.featured-products .button--secondary:hover:before,
.featured-products .button--secondary:hover:after {
    box-shadow: none;
}

.featured-products .featured-product_item {
    opacity: 0;
    pointer-events: none;
    height: 0;
    visibility: hidden;

}